body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-color: #f5f5f5;
  }
  
  #keyboard-container {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%; 
    background: #f0f0f0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .key {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    border: 1px solid #ddd;
    flex-grow: 1; 
    text-align: center;
    width: 100%;
    min-width: 36px;
    min-height: 50px;
    max-height: calc(33.33% - 20px);
  }
  
  .close-button {
    display: flex;
    justify-content: flex-;
    padding: 20px;
  }
  
  .close-button div {
    cursor: pointer;
    font-size: 35px;
  }
  
  select {
    text-align: center;
    min-height: 50px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
  }

  .key.flex-1 {
    flex: 1;
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }

  .close-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .close-button div {
    cursor: pointer;
    font-size: 35px;
  }

  [data-key="Shift ⇧"].active{
    background-color: #999;
  }
  [data-key="Caps 🄰"].active{
    background-color: #999;
  }